# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

public/assets/images/products/*

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/workspace.xml
public/assets/images/restaurants/*
public/assets/images/users/*
*.jpg
*.xml
*.bak
nbproject
public/royslog.txt
config/app.php
.idea/misc.xml
.idea/misc.xml
*.xml
*.CPT
*.blade_backup*
laravel-session-values.txt
Jan30,2016_latestdb.sql
vendor/laravel/framework/src/Illuminate/Support/Facades/Input.php
vendor/symfony/debug/Debug.php
*.tar
didueat.tar.gz
resources/views/popups/terms.blade_v2.php
vendor/composer/autoload_classmap.php
vendor/laravel/framework/src/Illuminate/Routing/Redirector.php
vendor/composer/ClassLoader.php
vendor/composer/autoload_real.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_files.php
vendor/composer/autoload_classmap.php
composer.lock
*.CDR
public/assets/images/work/logo-black-text.CMX
*.xml
public/paul.log
.env
config/mail.php
config/app.php
.env
*.env
public/debugmode.ip
old-and-new-db-compare.txt
latest_dbMarch8.sql
latest_march12_db.sql
app/Http/Controllers/AdministratorController_backupFeb17.php
app/Http/Controllers/AdministratorController_backupFeb23,2016.php
app/Http/Controllers/AdministratorController_backupFeb25.php
resources/views/popups/show_discount.blade_withCustomizedPrintedMenu_NU.php
resources/views/popups/menu_form.blade_withPrintedMenuCode_NU.php
resources/views/popups/menu_form.blade_tempRename.php
resources/views/home/faq.blade_oldMarch3,2016.php
resources/views/ajax/search_restaurants.blade_CurrentToRenameAfterPush.php
public/assets/global/scripts/menu_manager_withPrintedMenuCode_NU.js
public/assets/global/scripts/menu_manager_TempRename.js
public/assets/global/scripts/menu_manager_backupFeb28.js
public/assets/global/scripts/menu_manager_backupFeb23,2016.js
public/assets/global/scripts/additional_withPrintedMenuScript_NU.js
app/Http/routes_backupFeb12b,2016.php
app/Http/routes_backupFeb12,2016.php
app/Http/Models/Restaurants_MostRecentToCopyOverFeb28.php
app/Http/Models/Restaurants_backupFeb28beforePush.php
app/Http/Models/Restaurants_backupFeb27.php
app/Http/Models/Menus_withPrintedMenuCode_NU.php
app/Http/Controllers/RestaurantController_withPrintedImageCode_NU.php
app/Http/Controllers/RestaurantController_TempRename.php
app/Http/Controllers/RestaurantController_backupFeb25.php
app/Http/Controllers/AdministratorController_backupFeb29.php
app/Http/Controllers/HomeController_backupFeb12,2016.php
app/Http/Controllers/HomeController_backupFeb14,2016.php
app/Http/Controllers/RestaurantController_backupFeb24,2016.php
app/Http/Controllers/RestaurantController_backupMar8.php
app/Http/Controllers/RestaurantController_backupMarch15.php
app/Http/Controllers/RestaurantController_beforeDeletingOldThumbnails.php
app/Http/Controllers/RestaurantController_before_menuIcon_stuff.php
resources/views/orders/users.bladeNU.php
app/Http/Controllers/RestaurantController_backupMarch20,2016.php
public/assets/global/scripts/menu_manager_backupMarch17.js
public/assets/global/scripts/menu_manager_backupMarch18.js
public/assets/global/scripts/menu_manager_backupMarch20.js
app/Http/Models/Restaurants_backupMarch21.php
app/Http/Controllers/HomeController_backup_March23.php
