# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

public/assets/images/products/*

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/workspace.xml
public/assets/images/restaurants/*
public/assets/images/users/*
*.jpg
*.xml
*.bak
nbproject
public/royslog.txt
config/app.php
.idea/misc.xml
.idea/misc.xml
*.xml
resources/views/common/delete_edit_credit_card.blade.php
resources/views/common/delete_edit_credit_card.blade_backupJan19,2016.php
resources/views/common/editaddress.blade_backupJan19,2016.php
resources/views/dashboard/notifications_address/ajax/edit.blade_backupJan19,2016.php
resources/views/dashboard/user_reviews/ajax/edit.blade_backupJan19,2016.php
*.CPT
public/assets/images/where.png
public/assets/images/security_code_sample_backup.gif
resources/views/common/editaddress.blade_backupJan21,2016.php
resources/views/common/restaurant.blade_backupJan21,2015.php
resources/views/restaurants-signup.blade_backupJan20,2016.php
app/Http/Models/ProfilesAddresses_backupJan20,2016.php
laravel-session-values.txt
