.container{width:700px;}
.container-fluid{padding: 0 !important;}
.table td, .table th {border: 0 !important;padding:1rem !important;}
.card-header,  .card-footer {
    padding: 1rem;
    border:0 !important;
}
.card-title {
    margin-bottom: 0rem !important;
}


.redborder{
    box-shadow: 0 0 1px red !important;
}

.menucheck{
    display:none;
    color:#5cb85c;
}
.menudelete{
    display:none;
    color:red;
}

a{
    cursor: pointer;
    text-decoration: none !important;
}

.form-group {
     margin-bottom: .25rem !important;
}

.navbar{padding: 0 !important;border-radius: 0 !important;}

body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

.list-group, .card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
    border:0 !important;
}

.list-group-item {
    border:0 !important;
    border-radius: 0 !important;
    padding: .35rem 1.25rem;
}

/*
.formatted_address_black{
    height: 22px !important;
    width: 300px;
    border: 1px solid grey !important;
}
*/

input,textarea, select {
    border-radius: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

/*
.search_style{
    font-weight: bold;
    background: transparent;color:white;
    border:0 !important;
}
.card-link+.card-link {
    margin-left: 0rem !important;
}
*/
.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #5cb85c;
}

.loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    -webkit-animation: loading 2s linear infinite;
    animation: loading 2s linear infinite;
}

@-webkit-keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

.disabled {
    cursor: not-allowed !important;
}

a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: all;
}

.redborder {
    border: 1px solid red !important;
}

.btn-lg, .btn-group-lg > .btn {
    font-size: 1rem !important;
}

/*
.btn-secondary, .btn-secondary-outline {
    border: 1px solid #e8e8e8 !important;
}

.navbar {
    padding: .20rem 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
}
*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif !important;
}

hr {

    border-top: 1px solid #ddd !important;

}



.modal {
    overflow-y: auto;
    -webkit-overflow-scrolling: auto !important; /* modal with radio doesnt work without this */
}

body.modal-open {
    overflow: hidden;
}

.modal-open {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-open[style] {
    padding-right: 0px !important;
}



.main-bg-image {
    background-image: url('../../../assets/images/restro-background.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 8rem 0 9rem 0;
}

.signup-bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.page-sidebar-menu, .sub-menu {
    list-style-type: none;
    padding-left: 0px;
}

.loadmoreajaxloader {
    top: 50%;
    left: 50%;
    position: absolute;
}

.errormsg, .instruct {
    color: red;
}

.overlay_loader {

    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

#ajaxloader {
    background: rgba(0, 0, 0, 0) url("../../images/loader.gif") no-repeat scroll 0 0;
    height: 120px;
    width: 100%;
}

#loadmoreajaxloader {
    display: none;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 0px 2px 0px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    margin-top: 0px !important;
    padding-top: 0px !important;

    color: #ddd;
    float: right;
}

.rating > .checked-stars ~ label {
    color: #f0ad4e;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
    /* show gold star when clicked */
.rating:not(:checked) > label:hover,
    /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #f0ad4e;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
    /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
    /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #f0ad4e;
}

.static-rating {
    border: none;
    height: 20px;
    float: left;
}

.static-rating > input {
    display: none;
}

.static-rating > label:before {
    margin: 0px 1px 0px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.static-rating > .half:before {
    content: "\f089";
    position: absolute;
}

.static-rating > label {
    color: #ddd;
    float: right;
    position: relative;
}

.static-rating > .checked-stars ~ label {
    color: #f0ad4e !important
}

.error {
    color: rgb(255, 0, 0);
}
.list-inline-item {
    padding-right: .75rem;
}

select{

border: 1px solid #e5e5e5  !important;}



@media screen and (max-width: 400px) {
    .modal-dialog {
        margin: 0 !important;
    }

    .main-bg-image {

        padding: 2rem 0 3rem 0 !important;
    }

    .pading-left-mobile {
        padding-left: .9rem !important;
    }

    .row, .container, .modal-image {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .card, .list-group-item {
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .worksImg {
        padding-right: 6px;
        padding-bottom: 3px !important;
        float: left
    }

    .bigBlt {
        line-height: 1.15 !important;
        margin-top: 0px !important
    }

    .mobile-p-r-0 {
        padding-right: 0px !important;
    }
}




/*
center {
    text-align: center;
}

.btn-xs {
    padding: .125rem .35rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.row-eq-height, .row-eq-height > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
}

.no_text_break {
    white-space: nowrap
}

.list-group, .card {
    margin-bottom: 1rem !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
}






* {
    border: 0 !important;
}

textarea, select, input[type=text], input[type=number], input[type=email], input[type=password], input[type=text], input[type=text] {
    border: 1px solid #e8e8e8 !important;
}
*/
/*
.label {
    font-weight: normal !important;
}

.double-input .form-control {
    width: 50%;
}

.double-input .form-control:focus {
    border-right-width: 1px;
}

.triple-input .form-control {
    width: 33.3%;
    border-right-width: 0px;
}

.triple-input .form-control:focus {
    border-right-width: 1px;
}

.pac-container {
    background-color: #FFF;
    z-index: 1052 !important;
    position: fixed;
    display: inline-block;
    float: left;
}

a.anchor {
    top: 50px;
}
*/
/*
.modal-open {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-open[style] {
    padding-right: 0px !important;
}

.nopadding{
    padding: 0px;
}

.lesspadding {
    padding-left: 1px;
    padding-right: 1px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.alert {
    border-radius: 0px !important;
    margin-bottom: 0 !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.jumbotron {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    margin-bottom: 0 !important;
}

.close {
    font-size: 2rem !important;
    font-weight: normal;

}

.container-fluid {
    padding: 0 !important;

}

.container {
    margin-top: 1rem !important;

}



label {
    margin-bottom: 0px !important;
}
*/
/*
.table thead th {
    border-bottom: 0;
}

.table th, .table td {
    border: 0 !important;
    padding: .5rem 1rem !important;
}

.table {
    min-width: 100% !important;
}

tr {
    padding: 1.0rem 1.25rem;
}

td {
    padding-bottom: .25rem;
    border-top: 0 !important;
}

.banner-text-shadow {
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 2);
}

.overlay_reservation {
    background-color: rgba(0, 0, 0, .8);
    z-index: 99999;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    text-align: center;
    display: none;
}
*/

/*
.overlay {


}

.subber {

}

.clearfix {
    clear: both;
}

.required:after {
    content: "*";
    color: #e32;
}

.pagination {
    margin: 0 !important;
}

.headerbutton {
    height: 38px;
    font-size: 24px;
    padding-top: 7px;
    padding-bottom: 8px;
}

.table thead th {
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

body {
    font-family: 'Roboto', sans-serif;

    background: #fafafa;
}

.navbar {

    padding-left: 0rem !important;
    padding-right: 0rem !important;


}

.image_placeholder {
    background: #d9534f;
    height: 100px;
    width: 100px;
}

.tag-editor {
    list-style-type: none;
    padding: 0 5px 0 0;
    margin: 0;
    overflow: hidden;
    border: 1px solid #eee;
    cursor: text;
    font: normal 14px sans-serif;
    color: #555;
    background: #fff;
}

.tag-editor li {
    display: block;
    float: left;
    overflow: hidden;
    margin: 3px 0;
    line-height: 1.5;
}

.tag-editor div {
    float: left;
    padding: 0 4px;
}

.tag-editor .placeholder {
    padding: 0 8px;
    color: #bbb;
}

.tag-editor .tag-editor-spacer {
    padding: 0;
    width: 8px;
    overflow: hidden;
    color: transparent;
    background: none;
}

.tag-editor input {
    vertical-align: inherit;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: text;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    box-shadow: none;
    background: none;
}

.tag-editor-hidden-src {
    position: absolute !important;
    left: -99999px;
}

.tag-editor .tag-editor-tag {
    padding-left: 5px;
    color: #46799b;
    background: #e0eaf1;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px 0 0 2px;
}

.tag-editor .tag-editor-delete {
    background: #e0eaf1;
    cursor: pointer;
    padding-right: 5px;
    border-radius: 0 2px 2px 0;
}

.tag-editor .tag-editor-delete i {
    display: inline-block;
    width: 7px;
    height: 7px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.tag-editor .tag-editor-delete:hover i {
    background-position: 0 -14px;
}

.tag-editor .tag-editor-tag.active + .tag-editor-delete,
.tag-editor .tag-editor-tag.active + .tag-editor-delete i {
    background: none;
    cursor: text;
}

.tag-editor .tag-editor-tag.active {
    background: none !important;
}
*/

/*
.cat_name {
    margin-bottom: 5px;
}


@media screen and (max-width: 400px) {
    .modal-dialog {
        margin: 0 !important;
    }

    .main-bg-image {

        padding: 2rem 0 3rem 0 !important;
    }

    .pading-left-mobile {
        padding-left: .9rem !important;
    }

    .row, .container, .modal-image {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .card, .list-group-item {
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .worksImg {
        padding-right: 6px;
        padding-bottom: 3px !important;
        float: left
    }

    .bigBlt {
        line-height: 1.15 !important;
        margin-top: 0px !important
    }

    .mobile-p-r-0 {
        padding-right: 0px !important;
    }
}

@media screen and (max-width: 768px) {

    body {
        margin-top: 45px !important;
    }

    h1 {
        font-size: 1.3rem !important;
    }

    h2 {
        font-size: 1.3rem !important;
    }

    h3 {
        font-size: 1.30rem !important;
    }

    h4 {
        font-size: 1.25rem !important;
    }

    h5 {
        font-size: 1rem !important;
    }

    h6 {
        font-size: 1.15rem !important;
    }

    .navbar {
        padding: 0rem;
    }

    .list-group, .list-group-item, .card {
        border-radius: 0 !important;
    }

    .worksImg {
        padding-right: 8px;
        padding-bottom: 2px !important;
        float: left
    }

    .bigBlt {
        line-height: 1.25 !important;
        margin-top: 0px !important
    }

}

*/