@media (min-width: 2201px) and (max-width: 2400px) {
.main {
min-height:1000px !important;
}
}

@media (min-width: 2000px) and (max-width: 2200px) {
.main {
min-height:980px !important;
}

.slimScrollDiv {
    height: 380px !important;
    margin-bottom: 30px;
}

.table {
margin-bottom: 40px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
padding: 12px;
vertical-align: middle;
}

}

@media (min-width: 1800px) and (max-width: 1999px) {
.main {
min-height:900px !important;
}

.slimScrollDiv {
margin-bottom: 30px;
}

.table {
margin-bottom: 40px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
padding: 20px;
vertical-align: middle;
}
}

@media (min-width: 1600px) and (max-width: 1799px) {
.main {
min-height:900px !important;
}

.slimScrollDiv {
    height: 260px !important;
    margin-bottom: 30px;
}

.table {
margin-bottom: 40px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
padding: 10px;
vertical-align: middle;
}
}

@media (min-width: 1400px) and (max-width: 1599px) {
.main {
min-height:870px !important;
}

.slimScrollDiv {
    height: 250px !important;
    margin-bottom: 15px;
}

.table {
margin-bottom: 40px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
padding: 5px;
vertical-align: middle;
}


}

/* BEGIN max width 1400px */
@media (max-width: 1400px) {
.ecommerce .main .top-cart-content strong {
font-weight: normal;
width: 45%;
font-size: 14px;
}  

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
padding: 5px !important;
vertical-align: bottom !important;
}


.main {
    padding-top: 100px !important;
}

}

@media (min-width: 1201px) and (max-width: 1300px) {
    .ecommerce .main .top-cart-content {
        margin-top:5px;
    padding: 5px 0 10px 5px;
}

.slimScrollDiv {
    margin-bottom: 0;
    height: 270px !important;
}

.table {
    margin-bottom: 3px;
}


}

/* BEGIN max width 1200px */
@media (max-width: 1200px) {
.content-form-page .control-label {
padding-left: 30px;
padding-bottom: 5px;
}
.content-form-page .col-md-offset-4 {
margin-left: 15px;
}
.content-form-page .pull-right {
float: left !important;
}

.quote-v1 span {
font-size: 20px;
}

.ecommerce .main  .top-cart-info {
padding: 8px 10px 6px 13px;
}

.fb-page.fb_iframe_widget iframe {
width: 100% !important;
}

.ecommerce .main .top-cart-content .btn-default {
display: inline-block;
margin-bottom: 20px;
margin-right: 0;
vertical-align: top;
} 

.ecommerce .main .top-cart-content strong {
font-size: 12px;
font-weight: normal;

} 

.ecommerce .main .top-cart-content span, .ecommerce .main .top-cart-content strong, .ecommerce .main .top-cart-content em {
font-size: 12px;
margin-right: 0;
overflow: hidden;
padding-top: 10px;

}

.ecommerce .main .top-cart-content span, .ecommerce .main .top-cart-content strong, .ecommerce .main .top-cart-content em {
font-size: 12px;
margin-right: 0;
overflow: hidden;
padding-top: 10px;

}

.top-cart-content .slimScrollDiv ul li .receipt_image {
display: inline-block;

}

.pi-img-wrapper div .btn-default {
    display: block;
    margin: 0 auto 3px !important;
    text-align: center;
    width: 70px;
    top: 30%;
}


.slimScrollDiv {
    margin-bottom: 0;
    height: 240px !important;
}

.header .header-navigation {
    clear: both;
    display: block !important;
    float: right !important;
    margin-top: -42px;
}

}
/* END max width 1200px */

/* BEGIN min width 1025px */
@media (min-width: 1025px) {
.header .header-navigation {
display: block !important;
}
}
/* END min width 1025px */

/* BEGIN min width 1025px max width 1205 */
@media (min-width: 1025px) and (max-width: 1205px) {
body.page-header-fixed {
padding-top: 121px !important; /* height of the header */
}

.reduce-header .header-navigation {
margin-top: -6px;
}
.header .header-navigation > ul > li {
margin-right: 27px;
}
.header .header-navigation > ul > li > a {
padding: 5px 0 18px;
}
.reduce-header .header-navigation > ul > li > a {
padding-bottom: 13px;	
}
.header .header-navigation > ul > li.active > a, .header .header-navigation > ul > li > a:hover, .header .header-navigation > ul > li > a:focus, .header .header-navigation > ul > li.open > a, .header .header-navigation > ul > li.open > a:hover, .header .header-navigation > ul > li.open > a:focus {
background: none;
}
.header-navigation > ul > li.dropdown:hover > a:after {
margin-left: 10px;
}

.dropdown-fix-right .dropdown-menu {
left: 0;
right: auto;
}

.header .header-navigation li.menu-search {
top: 1px;
margin-left: -20px;
}
.ecommerce .header .header-navigation li.menu-search {
top: 2px;
}
.header .header-navigation li.menu-search span.sep {
top: 2px;
margin-right: 26px;
}
.header .header-navigation li.menu-search i {
top: -4px;
}

.ecommerce .main .top-cart-content .btn-default {
display: inline-block;
margin-bottom: 20px;
margin-right: 0;
}
.site-logo {
margin-right: 20px;
}
.newbrowse {
font-size: 10px;
padding: 5px 10px;
width: 100%;
}
.menuimg {
min-height: 60px !important;
}
.header .header-navigation > ul > li {
margin-right: 20px;
}

.newaction a {
font-size: 12px;
padding: 5px 7px;
}
.table .btn {
margin: 0 5px 10px 0;
width: 100%;
}

.table-striped .btn {
width: 100% !important;
}

.main {
    padding-top: 100px !important;
}

.top-cart-block {
    top: 74px !important;
}

.slimScrollDiv {
    height: 165px !important;
    margin-bottom: 0;
}	

}
/* END min width 1025px max width 1205 */

/* BEGIN max width 1024px */
@media (max-width: 1024px) {
body.page-header-fixed {
padding-top: 107px !important; /* height of the header */
}
.site-logo {
margin-right: 20px;
}
.newbrowse {
font-size: 10px;
padding: 5px 10px;
width: 100%;
}
.menuimg {
min-height: 60px !important;
}
.newaction a {
font-size: 12px;
padding: 5px 7px;
}
.table .btn {
margin: 0 5px 10px 0;
width: 100%;
}
.table-striped .btn {
width: 100% !important;
}

.main {
    padding-top: 100px !important;
}

.top-cart-block {
    top: 94px !important;
}

.slimScrollDiv {
    height: 165px !important;
    margin-bottom: 0;
}	

}
/* END max width 1024px */

/* BEGIN max width 992px */	
@media (max-width: 992px) {
.shop-index-carousel {
margin-left: 0;
margin-right: 10px;
}

.brands .container {
padding-right: 25px;
}

.sidebar-menu a:focus {
color: #333 !important;
text-decoration: none;
}

.sale-product___removed {
margin-bottom: 40px;
}
.new-arrivals___removed {
margin-left: 15px;
padding-left: 0;
}
.two-items-bottom-items {
margin-bottom: 40px;
}
.carousel img {
width: 100%;
}

/*.steps-block {
padding-bottom: 10px;
}
.steps-block-col {
border: 2px solid #FFF;
margin: 0 20px 20px 15px;
padding: 20px 20px 15px;
min-height: auto;
float: left;
}
.steps-block-col:last-child {
margin-right: 0;
}
.steps-block .steps-block-col div {
margin-left: 0;
margin-right: 0;
}
.steps-block h2 {
font-size: 25px;
}
.steps-block em {
text-transform: inherit;
}
.steps-block-col span,
.steps-block-col .fa {
display: none;
}
.steps-block-col:first-child em {
margin-left: 0;
}*/

.steps-block-col {
border: 2px solid #FFF;
margin: 0 25px 20px 15px;
padding: 20px 20px 15px;
min-height: auto;
float: none;
}
.steps-block-col:last-child {
margin-right: 25px;
margin-bottom: 0;
}
.steps-block .steps-block-col div {
margin-left: 0;
margin-right: 0;
}
.steps-block h2 {
font-size: 43px;
}
.steps-block em {
text-transform: uppercase;
}
.steps-block-col span {
display: none;
}
.steps-block-col .fa {
display: block;
}

.pre-footer-subscribe-box form {
width: 100%;
}

.sidebar-products img {
float: none;
margin-bottom: 5px;
width: 100%;
height: auto;
}
.sidebar-products h3,
.sidebar-products .price {
margin-left: 0;
}
.product-page-options .pull-left {
margin-bottom: 10px;

}
.product-quantity {
margin-bottom: 10px;
}

/*
if you want to hide buttons on mobile view, uncomment this block
.pi-img-wrapper div {
display: none !important;
}*/
.review .rateit {
width: 100%;
margin-bottom: 10px;
}
.list-view-sorting .pull-right {
margin-bottom: 10px;
}

.service-box p, .service-box .service-box-heading em, .service-box .service-box-heading span {
display: block;
text-align: center;
}
.service-box .service-box-heading em {
margin-bottom: 10px;
}

.quote-v1 {
text-align: center;
}
.quote-v1 .text-right {
text-align: center;
}

.recent-work .owl-carousel {
margin-left: -10px;
}
.our-clients .owl-carousel {
margin-left: -2px;
}
.recent-work .owl-carousel,
.our-clients .owl-carousel {
padding-top: 30px;
}
.recent-work .owl-buttons,
.our-clients .owl-buttons {
top: 0;
left: -3px;
}
.our-clients .owl-buttons {
left: -10px;
}

.testimonials-v1 {
padding-top: 40px;
}

.recent-work .recent-work-item .fa {
width: 36px;
height: 36px;
margin-top: -18px;
font-size: 14px;
padding: 12px;
}

.recent-news-inner {
padding: 10px 15px 0;
}

.ecommerce .pre-footer-subscribe-box h2, .corporate .pre-footer-subscribe-box h2 {
padding-top: 0;
}
.pre-footer .pre-footer-subscribe-box {
padding-bottom: 25px;
}
.ecommerce .pre-footer-subscribe-box form {
width: 100%;
}

.ecommerce .content-search h1 {
padding-top: 0;
margin-bottom: 3px;
}
.content-search form {
margin: 0 0 6px;
}
.img-responsive {
width: 100%;
}
.newaction a {
font-size: 11px !important;
padding: 5px 7px;
}

.table .btn {
font-size: 12px;
margin: 0 5px 10px 0;
padding: 5px;
width: 100%;
}
.main {
    padding-top: 100px !important;
}


}
/* END max width 992px */
@media (max-width: 925px) {
.site-logo {
margin-right:20px;
}
.ecommerce .header-navigation {
font: 16px "PT Sans Narrow",sans-serif;
}
.ecommerce .header-navigation > ul > li > a {
color: #fff;
font-size: 12px;
padding: 26px 5px;
}
.img-responsive {
width: 100%;
}
.ecommerce .header-navigation li.menu-search {
top: 15px;
}

.table-striped .btn {
font-size: 11px !important;
padding: 5px !important;
width: 100% !important;
}

.steps-block-col {
float: none !important;
margin-right: 0 !important;
padding-right: 0 !important;
width: 96% !important;
}

.main {
    padding-top: 100px !important;
}

}


/* BEGIN max width 767px */
@media (max-width: 767px) {
.header .mobi-toggler, .fixed-header .mobi-toggler {
display: block !important;
}
.header .header-navigation, .fixed-header .header-navigation {
float: none !important;		
display: none;
clear: both;
background: #F9F9F9;
padding: 0 20px;
margin: 0 -20px 25px;
font-size: 16px;
}
.header .header-navigation li, .fixed-header .header-navigation li  {
float: none;
padding: 0;
clear: both;
}
.header .header-navigation li > a,
.header .dropdown.open .dropdown-toggle,
.header .header-navigation li.open > a {
border-bottom: 1px solid #efefef !important;
padding: 8px 10px 9px;
margin: 0 -10px;
position: relative;
color: #666 !important;
background: none !important;
}
.itemimg {
width: 100%;
}

.fixed-header .header-navigation li > a,
.fixed-header .dropdown.open .dropdown-toggle,
.fixed-header .header-navigation li.open > a {
border-bottom: 1px solid #efefef !important;
padding: 8px 10px 9px !important;
margin: 0 -10px;
position: relative;
color: #666 !important;
background: none !important;
}
.ecommerce .header .header-navigation li > a,
.ecommerce .header .dropdown.open .dropdown-toggle,
.ecommerce .header .header-navigation li.open > a {
padding: 12px 10px 9px;
}

.ecommerce .fixeda-header .header-navigation li > a,
.ecommerce .fixed-header .dropdown.open .dropdown-toggle,
.ecommerce .fixed-header .header-navigation li.open > a {
padding: 12px 10px 9px;
}
.header .header-navigation li > a:hover,
.header .header-navigation li.active > a,
.header .header-navigation li.open > a:hover {
border-bottom: 1px solid #efefef !important;
background: none !important;
color: #dd4632 !important;
text-decoration: none;
}

.fixed-header .header-navigation li > a:hover,
.fixed-header .header-navigation li.active > a,
.fixed-header .header-navigation li.open > a:hover {
border-bottom: 1px solid #efefef !important;
background: none !important;
color: #dd4632 !important;
text-decoration: none;
}

.header-navigation > ul > li.dropdown:hover > a:after {
border: none;
}

.header-navigation > ul > li > a > i.fa-angle-down {
display: block;
float: right;
margin: 3px 0 0;
}
.steps-block-col {
float: none !important;
margin-right: 20px !important;
padding-right: 0 !important;
width: auto !important;
}

/* dropdown menu */
.header-navigation .dropdown-menu,
.header-navigation > ul > li > .dropdown-menu {
position: static;
width: 100%;
margin: 0;
border: none;
box-shadow: none;
background: none;		
margin-top: 0;
border-top: none;
z-index: 22;
}
.header-navigation .dropdown-menu li {
border: none !important;
margin-left: 20px;
}
.header-navigation .dropdown-menu li > a {
padding: 10px 10px 9px;
z-index: 999;
position: relative;
}
.header-navigation .dropdown-menu li > a > i {
display: none;
}

.header-navigation .dropdown-menu .dropdown-menu {
display: block;
}
.header-navigation .header-navigation-content {
border: none;
}
.dropdown-megamenu .header-navigation-content {
padding: 5px 0 0;
margin-left: -20px;
}
.dropdown-megamenu .header-navigation-content .row {
margin: 0;
}
.dropdown-megamenu .header-navigation-content .header-navigation-col {
padding: 0;
float: none;
width: 100%;
}
.dropdown-megamenu .header-navigation-content h4 {
font-size: 13px;
padding: 10px 10px 9px;
margin: 0 -10px 0 10px;
}
.header-navigation .dropdown-megamenu .header-navigation-content li > a {
padding: 10px 10px 9px;
}

.header-navigation-content-ext {
background: none;
}
.header-navigation-description {
height: auto !important;
background: none;
box-shadow: none;
padding: 0;
margin: 0 10px;
}
.header-navigation-content-ext .col-md-6,
.header-navigation-content-ext .col-md-3 {
float: none;
width: 100%;
}
.dropdown-megamenu .header-navigation-content-ext .col-md-3 h4 {
border-bottom: 1px solid #EFEFEF;
}
.header-navigation .dropdown-menu .header-navigation-content-ext li > a {
display: block;
}
.header-navigation-content-ext .col-md-3, .header-navigation-content-ext .col-md-6 {
padding: 0;
}
.header-navigation-content-ext .col-md-6 {
margin-left: 10px;
}
.header-navigation-content-ext .col-md-6 h4 {
margin-left: 0;
padding-left: 0;
}

.header .nav-brands {
margin: 15px 10px;
padding: 0;
width: 100%;
background: #fff;
}
.header .nav-brands ul {
border: 1px solid #F0F0F0;
padding: 10px;
}
.header .nav-brands li {
max-width: 50%;
display: inline-block;
border: none;
margin-left: 0
}
.header .nav-brands li a,
.header .nav-brands li a:hover {
border: none !important;
margin: 0 !important;
}

.nav-catalogue .dropdown-menu > li {
margin-left: 0;
}
.nav-catalogue .header-navigation-content {
padding: 20px 0 0;
}
.nav-catalogue .product-item {
margin-bottom: 20px;
}

.header-navigation li.menu-search,
.ecommerce .header-navigation li.menu-search {
top: 0;
padding: 20px 0 10px;
position: relative;
}
.header-navigation li.menu-search span.sep {
display: none;
}
.header-navigation .search-box {
position: relative;
right: auto;
left: 0;
}
.header-navigation .search-box:after {
right: auto;
left: 0;
}

.top-cart-block {
margin-top: 55px;
}

.page-header-fixed .header-navigation {
height: 300px;
overflow: auto;
}
.header-navigation-wrap {
background: #ce0b10 none repeat scroll 0 0;
}
.header-navigation {
float: none;
margin-right: 0 !important;
}
.header-navigation > ul > li {
float: none;
}
.ecommerce .header-navigation > ul > li > a {
border-bottom: 1px solid #f7f7f7;
color: #fff;
padding: 10px 12px;
}
.ecommerce .header-navigation .menu-search {
padding-left: 10px !important;
}
.pre-header .pull-right {
float: left !important;
}
.pre-header .pull-right li:first-child {
padding-left: 0;
}
.ecommerce .pre-footer-subscribe-box form {
float: none;
width: auto;
}

.header .header-navigation {
margin: 0 -10px 0;
padding: 0 10px;
}
.header-navigation-content {
min-width: 100px;

}
.sidebar {
margin-bottom: 40px;
}
.sidebar___removed {
margin-bottom: 40px;
}
.sidebar-menu .fa-angle-right {
display: inline-block;
}
.pre-footer .pull-right,
.footer .pull-right {
float: none !important;
}
.pre-footer .pull-right,
.footer .pull-right {
padding-top: 15px;
}
.footer .list-inline > li {
padding-left: 0;
margin-right: 5px;
}


.form-info {
border-left: none;
padding-left: 0;
padding-top: 30px;
border-top: 1px solid #E4E6E8;
margin-bottom: 0;
}

.sidebar-products .item {
float: left;
width: 48%;
margin-bottom: 20px;
padding: 0 10px 10px;
}
.sidebar-products img {
width: 100%;
height: auto;
}
.list-view-sorting {
/*background: #fff;*/
margin-left: 0;
margin-right: 0;
margin-bottom: 10px;
}
.list-view-sorting .col-md-10 {
padding-right: 0;
}
.product-other-images {
margin-bottom: 40px;
}
.product-page-options .pull-left {
margin-bottom: 0;
}
.product-item .img-responsive {
width: 100%;
}
.pagination {
float: left !important;
padding-top: 10px;
}
.pagination > li {
margin-left: 0;
margin-right: 5px;
}

.pre-footer .margin-bottom-40 {
margin-bottom: 0;
}
.ls-layer3 .ls-price strong {
top: -15px;
}

.glyphicons-demo ul li {
width: 12.5%;
}

.tab-style-1 .tab-content img {
margin: 5px 0 10px;
}
.testimonials-v1 {
padding-top: 20px;
}

.front-steps-wrapper {
margin-left: -10px;
margin-right: -10px;
}
.front-steps-wrapper .front-step-col {
padding-left: 15px;
padding-right: 15px;
}
.front-steps-wrapper .front-step:after {
display: none;
}

.blog-posts h2, .ecommerce .blog-posts h2 {
padding-top: 15px;
}

.ecommerce .footer {
padding: 10px 0 10px;
}
.ecommerce .footer .pull-right {
padding-top: 10px;
}
.ecommerce .pre-footer address {
margin-bottom: 15px !important;
}
.footer img {
margin-bottom: 10px;
}
.ecommerce .pre-footer-subscribe-box h2, .corporate .pre-footer-subscribe-box h2 {
padding-top: 7px;
}

.ecommerce .main .top-cart-block .fa-shopping-cart {
float: right;
margin-top: 11px;
position: relative;
right: 30px;
cursor: pointer;
}

.ecommerce .main .top-cart-content-wrapper{
position: static;
}

.ecommerce .main .top-cart-content strong {
font-weight: normal;
width: 72% !important;
}

.top-cart-content li{
padding-left: 10px;
}

.ecommerce .main .top-cart-content-wrapper {
border-bottom: 2px solid #e6400c;
}

.top-cart-content .slimScrollDiv .decrease {
left: 13px;
}

.top-cart-content .slimScrollDiv .increase {
left: 33px;
}

.slimScrollDiv ul li .receipt_image .btn > strong {
width: 100% !important;
}

.ecommerce .main .top-cart-content em {
margin-right: 8px !important;
}

.top-cart-content::after {
display: none;
}

.bottom-cart {
background: #fff none repeat scroll 0 0;
bottom: 0;
display: block;
position: fixed;
width: 100%;
z-index: 99;
left: 0;
}

.top-cart-content .text-right {
display: inline-block;
}

.top-cart-content .totals.col-md-12 {
width: 100%;
}

.fixed-header .header-navigation li > a, .fixed-header .dropdown.open .dropdown-toggle, .fixed-header .header-navigation li.open > a {
font-size: 16px;
}

.bottoma-cart {
display: block;
} 

#u_0_0 > div {
width: 100% !important;
}

.fb_iframe_widget span {
display: inline-block;
position: relative;
text-align: justify;
width: 100% !important;
}

.fb_iframe_widget {
display: inline-block;
position: relative;
width: 100% !important;
}

.top-cart-content .btn-default {
padding-bottom: 5px;
}

.top-cart-content {
width: 100% !important;
}

.top-cart-content strong {
font-weight: normal;
width: 380px !important;
}

.top-cart-content em {
width: auto !important;
}

.ecommerce .header {
margin-top: 0;
position: inherit;
}

.ecommerce .main .top-cart-content {
margin-top: 42px;
}

.top-cart-info {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: medium none;
top: 80px;

position: fixed;

z-index: 999;
}

body {
overflow-x: hidden;
}

.top-cart-info-count {
    color: #fff !important;
    float: right !important;
    margin-top: -5px;
    position: relative;
    right: 110px;
    top: -69px;
    z-index: 9999;
}

.top-cart-info-value {
    border-left: 1px solid #fff;
    color: #fff !important;
    float: right;
    font-size: 12px !important;
    line-height: 12px;
    margin-top: -3px;
    position: relative;
    right: 65px;
    top: -80px;
    z-index: 9999;
}

.top-cart-block {
padding: 0 !important;
}

.ecommerce .main .top-cart-block .fa-shopping-cart, .ecommerce .main .bottom-cart .fa-shopping-cart {
background: #e84d1c none repeat scroll 0 0;
border-radius: 16px !important;
color: #fff;
font-size: 16px;
padding: 8px 8px 7px;
position: absolute !important;
right: 75px !important;
top: -82px;
z-index: 9999;
}

.header {
padding: 5px 0;
}

.top-cart-info a {
color: #595f65;
font-size: 12px;
}

.header-navigation > ul > li > a {
font-size: 16px;
}

.top-cart-content {
display: block;
}

.product-other-images img {
width: 42px;
display: block;
}

.menuimg {
margin: 0 auto;
min-height: 60px !important;
width: 50%;
}

.newbrowse {
display: block;
margin: 0 auto 20px;
text-align: center;
width: 15% !important;
}

.pi-img-wrapper div .btn-default {
    display: inline-block;
    margin: 0 auto!important;
    text-align: center;
    width: auto;
    top: 50%;
}

[class*="col-"] {
    padding-right: 15px !important;
}

.top-cart-block {
    position: absolute !important;
    z-index: 99999 !important;
}

.main {
    padding-top: 90px !important;
}

}
/* END max width 767px */

/* BEGIN max width 600px */
@media (max-width: 600px) {
.ls-layer3 .ls-price strong {
top: -5px;
}
.ecommerce .main .top-cart-content strong {
font-weight: normal;
width: 68% !important;
}
.top-cart-content strong {
font-weight: normal;
width: 215px !important;
}

.newbrowse {
width: auto !important;
}

}
/* END max width 600px */

/* BEGIN max width 480px */
@media (max-width: 480px) {
.pre-header .list-inline li {
display: block;
border: none;
margin-bottom: 10px;
padding: 0;
}
.pre-header .col-md-6 {
float: left;
}
.pre-header .additional-nav {
float: right;
text-align: right;
}

.nav-catalogue .pi-price {
margin-bottom: 10px;
}
.nav-catalogue .pi-price,
.nav-catalogue .product-item .add2cart {
float: none;
}

.top-cart-block {
clear: both;
float: left;
padding: 0 !important;
margin: 0 0 29px;
width: 100%;
}
.top-cart-info {
float: none;
}
.top-cart-block .fa-shopping-cart {
top: 0;
}
.top-cart-content-wrapper {
left: 0;
right: auto;
}
.top-cart-content:after {
left: 15px;
}

.ls-fullwidth .ls-nav-prev, .ls-fullwidth .ls-nav-next {
display: none;
}

.checkout-content {
padding: 0 0 40px;
}
.checkout-page h2 a {
padding: 9px 10px 8px;
}
.table-wrapper-responsive {
overflow-x: scroll;
}

.shopping-cart-page .btn-default {
float: right;
}
.shopping-cart-page .btn-primary {
clear: both;
margin-top: 10px;
}
.checkout-page .btn-default {
clear: both;
margin-top: 10px;
margin-right: 0 !important;
}

.steps-block-simple h2 {
font-size: 21px;
}
.steps-block-simple em {
font-size: 14px;
text-transform: inherit;
}

.ecommerce .pre-footer-subscribe-box h2,
.corporate .pre-footer-subscribe-box h2 {
float: none;
}

.list-view-sorting .pull-right {
float: left !important;
margin: 0 30px 10px 0;
}

.header .top-cart-block {
margin-top: 0;
}
.reduce-header .top-cart-block {
margin-top: 0;
margin-bottom: 19px;
}
.ecommerce .main .top-cart-block .fa-shopping-cart, .ecommerce .main .bottom-cart .fa-shopping-cart {
top: -78px;
}
.table-striped {
border: 1px solid #ddd;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
width: 100%;
}

.top-cart-block {
    position: absolute !important;
    right: 0;
    top: 111px !important;
    z-index: 9;
}

.top-cart-block {
    position: absolute !important;
    right: 0;
    top: 180px !important;
    z-index: 9;
}

.top-cart-block {
    top: 170px !important;
    background: none !important;
}

.top-cart-info {
    right: -72px !important;
    top: 90px !important;
}

.ecommerce .main .top-cart-block .fa-shopping-cart, .ecommerce .main .bottom-cart .fa-shopping-cart {
    right: 0 !important;
    top: -84px;
}

.top-cart-info-count {
    right: 40px;
    top: -80px;
}

.site-logo {
    width: 70%;
}

}
/* END max width 480px */

/* BEGIN max width 450px */
@media (max-width: 450px) {
.ecommerce .steps-block h2 {
font-size: 33px;
}
.ecommerce .main .top-cart-content strong {
font-weight: normal;
width: 60% !important;
}
.top-cart-content strong {
font-weight: normal;
width: 165px !important;
}

}
/* END max width 450px */

/* BEGIN max width 405px */
@media (max-width: 405px) {
.top-cart-content {
width: 100%;
}
.top-cart-block img,
.top-cart-block .cart-content-count {
display: none;	
}

.ecommerce .main .top-cart-block img,
.ecommerce .main .top-cart-block .cart-content-count {
display: block;	
}
.top-cart-content strong {
font-weight: normal;
width: 145px !important;
}
.site-logo > img {
    width: 100%;
}
}
/* END max width 405px */

/* BEGIN max width 390px */
@media (max-width: 390px) {
.steps-block .fa {
border: 2px solid #FFFFFF;
border-radius: 30px !important;
float: left;
font-size: 20px;
width: 40px;
height: 40px;
margin-right: 11px;
padding-top: 12px;
text-align: center;
vertical-align: middle;	    
}
.ecommerce .steps-block h2 {
font-size: 25px;
padding-top: 2px;
}
.ecommerce .steps-block em {
text-transform: inherit;
}

.mix-block .tab-content .col-md-3 {
padding-right: 15px;
}
.ecommerce .main .top-cart-content strong {
font-weight: normal;
width: 54% !important;
}
.top-cart-content strong {
font-weight: normal;
width: 88px !important;
}

.btn {
font-size: 12px;
}

.cmore .nopadd {
padding-right: 3px !important;
}

.site-logo > img {
    width: 100%;
}

.top-cart-block {
    position: absolute !important;
    right: 0;
    top: 172px !important;
    z-index: 9;
}


}
/* END max width 390px */

/* BEGIN max width 330px */
@media (max-width: 330px) {
.top-cart-content {
width: 280px;
}
.ecommerce .main .top-cart-content strong {
font-weight: normal;
width: 50% !important;
}
.top-cart-content strong {
font-weight: normal;
width: 60px !important;
}

.site-logo {
    width: 60%;
}


}
/* END max width 330px */

/* BEGIN max width 320px */
@media (max-width: 320px) {
.site-logo {
margin-right: 0;
}
.content-form-page .btn-default {
margin-top: 10px;
}
.price-availability-block .availability {
clear: left;
float: left;
}
.product-page-options .pull-left {
margin-bottom: 10px;
}



}
/* END max width 320px */</p>