.product-pop-up .title {
background: #ce0b10 none repeat scroll 0 0;
}

.product-pop-up .title h2 {
margin: 10px 0;
padding: 0 15px;
width: 80%;
}

.product-pop-up div div img {
border: 1px solid #eeeeee;
border-radius: 5px !important;
display: block;
margin: 20px auto;
}

.infolist > a {
color: #000;
float: left;
margin-bottom: 10px;
}

.infolist > a:hover {
color: #000 !important;
text-decoration: none !important;
}

.optionals .banner .infolist strong {
text-transform: capitalize;
}

.list div a {
color: #000;
}

.infolist .list {
border-top: 1px solid #f7f7f7;
padding-top: 10px;
}

.infolist {
margin-bottom: 30px;
}

.subin.btn.default.btnxx.col-xs-12.col-md-6 {
text-align: left !important;
background-color: #f9f9f9 !important;
}

.infolist .limit-options {
background: #ce0b10 none repeat scroll 0 0;
border-right: 3px none;
color: #ffffff;
display: inline-block;
margin-bottom: 10px;
padding: 3px 10px;
}

.banner .infolist {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.list div .btn.btn-primary {
display: none;
}

.list div {
margin-bottom: 3px;
background-color: #f9f9f9 !important;    
}

.add_menu_profile.add_end {
background: #ce0b10 none repeat scroll 0 0 !important;
border: medium none !important;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
font-weight: 600;
margin-top: 6px;
}

.product-titles > h2 {
font-size: 18px;
line-height: 20px;
}

.add_menu_profile.add_end:hover {
background: #fff !important;
color: #ce0b10 !important;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}

.add-minus-btn > div {
background: #fff none repeat scroll 0 0;
border: 1px solid #8c8c8c;
display: inline-block;
height: 36px;
line-height: 36px;
margin: 0 -4px;
text-align: center;
vertical-align: middle;
width: 70px;
border-left: none;
border-right:none;
}

.product-pop-up .btn-primary {
margin-right: 0 !important;
}

.add-minus-btn .minus {
background: #dfdfdf none repeat scroll 0 0;
border: 1px solid #8c8c8c;
border-radius: 3px 0 0 3px;
display: inline-block;
vertical-align: middle;
color: #4c4c4c;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
font-weight: 900;  
}

.add-minus-btn .add {
background: #dfdfdf none repeat scroll 0 0;
border: 1px solid #8c8c8c;
border-radius: 0px 3px 3px 0px;
display: inline-block;
vertical-align: middle;
color: #4c4c4c;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
font-weight: 900;
} 

.add-minus-btn .number {
background: #fff none repeat scroll 0 0;
border: 1px solid #8c8c8c;
display: inline-block;
vertical-align: middle;
margin: 0 -4px;
height: 34px;
line-height: 34px;
text-align: center;
width: 100px;
border-left: none;
border-right:none; 
}

.add-minus-btn a:hover {
border: 1px solid #8c8c8c !important;
background: #d84a38 none repeat scroll 0 0 !important;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}

.add-btn {
background: #dfdfdf none repeat scroll 0 0;
padding: 10px 15px !important;
font-family: "Open Sans",sans-serif;
}

.product-pop-up .modal-body {
padding: 0 !important;
}

.banner {
border: 1px solid #dfdfdf;
box-shadow: 0 0 3px #dfdfdf;
font-family: "Open Sans",sans-serif;
height: 220px;
margin-bottom: 20px;
overflow-y: scroll !important;
padding: 20px 7px;
}
